RSA_PUBLIC_KEY_PATH=~/.ssh/ztap_public.pem
RSA_PRIVATE_KEY_PATH=~/.ssh/ztap_private.pem
REDIS_STORE_URL=redis://localhost:6379
ROOT_CA_PATH=./certs/ca.crt
PROXY_CERT_PATH=./certs/proxy.crt
PROXY_KEY_PATH=./certs/proxy.key
RBAC_POLICY_PATH=./policies.yaml